{% extends "base.html" %}

{% block content %}
<html>


{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}

<h1 class="title">
  Welcome, {{ name }}!
</h1>
{%if boat_name != None %}
  <p class="subtitle is-5">Boat: {{boat_name}}</p>
{% endif %}

</br>
</br>

<form method=post>
    <label for="departure_time">Select departure time:</label></br>
    <input type="time" id="departure_time" name="departure_time" class="button">
    <input type="submit" class="button" value="Submit">
</form>

</html>
{% endblock %}