{% extends "base.html" %}

{% block content %}
<html>

<body>



    <p class="title is-1" id="datetime"></p>
    <script>

        //initialize clock
        getDate()

        //set update interval for the clock, currently 1 minute
        var updateClock = setInterval(getDate, 1000)


        //function for retrieving date and time
        function getDate() {
            var dt = new Date();
            document.getElementById("datetime").innerHTML = (("0" + dt.getDate()).slice(-2)) + "." + (("0" + (dt.getMonth() + 1)).slice(-2)) + "." + (dt.getFullYear()) + " " + (("0" + dt.getHours()).slice(-2)) + ":" + (("0" + dt.getMinutes()).slice(-2));

        }


    </script>
    {% if departure != None %}
    <div class="title is-2">Departure time is {{ departure }}.</div>
    {% endif %}
	
    {% if origin_port != None %}
    <div class="title is-2">Origin port is {{ origin_port }}.</div>
    {% endif %}
	
    {% if current_port != None %}
    <div class="title is-2">Current port is {{ current_port }}.</div>
    {% endif %}
	
    {% if next_port != None %}
    <div class="title is-2">Next port is {{ next_port }}.</div>
    {% endif %}
	
    {% if (destination_ports != None) and (destination_ports|length > 0) %}
	<div class="title is-2">Destination ports are: </div>
	<ol> 
	{%for i in range(8)%} 
		<ul class="title is-3">{{destination_ports[i]}}</ul> 
	{%endfor%} 
	</ol> 
	{% endif %}
    {% if ((destination_ports == None or destination_ports|length == 0) and origin_port) %}
    <h2 class="title is-1" >Arrived at the final destination</h2>
    {% endif %}

	
    {% if grid != None %}
    <div class="column" style="width: 300px;">{{ grid }}</div>
    {% endif %}

</body>

</html>
{% endblock %}