{% extends "base.html" %}

{% block content %}
<html>

<body>



    <p id="datetime"></p>
    <script>

        //initialize clock
        getDate()

        //set update interval for the clock, currently 1 seconds
        var updateClock = setInterval(getDate, 1000)


        //function for retrieving date and time
        function getDate() {
            var dt = new Date();
            document.getElementById("datetime").innerHTML = (("0" + dt.getDate()).slice(-2)) + "." + (("0" + (dt.getMonth() + 1)).slice(-2)) + "." + (dt.getFullYear()) + " " + (("0" + dt.getHours()).slice(-2)) + ":" + (("0" + dt.getMinutes()).slice(-2));

        }


    </script>

    {% if departure != None %}
    <div >Departure time is {{ departure }}.</div>
    {% endif %}
	
    {% if origin_port != None %}
    <div >Origin port is {{ origin_port }}.</div>
    {% endif %}
	
    {% if destination_ports != None %}
	<div >Destination ports are: </div>
	<ol> 
	{%for i in range(8)%} 
		<ul>{{destination_ports[i]}}</ul> 
	{%endfor%} 
	</ol> 
	{% endif %}
	
    {% if grid != None %}
    <div class="column" style="width: 300px;">{{ grid }}</div>
    {% endif %}

</body>

</html>
{% endblock %}